/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* IMPOSTAZIONI GLOBALI */
@font-face { font-family: ufonts; src: url(../fonts/ufonts.com_tw-cen-mt.ttf);}

html {

    font-family: 'ufonts';
    text-align: center;
 
}

.orange {

    color: orangered;
    font-weight: bold;

}

h1, h2, h3 {

    padding: 2.3rem 0;

}

h1 {
    
    font-size: 1.3rem;

}

h1 span, h2 span { 

    font-size: 2rem;

}

h2 {

    font-size: 1.6rem;

}

h3 {
    font-size: 1.2rem;
    font-weight: bold;

}

h3 span {

    color: #fe5c40;

}

p {

    color: gray;
    line-height: 1.8rem;
    padding: 2rem 0;

}

hr {

    width: 50%;

}


.setting {

    margin: 0 20px;

}

section {

    padding: 50px 0;

}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* background imgs */

.bgsett {

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

#blog {

    background-image: url(/assets/images/blog/blog-bg.jpg);

}

#newsletter {

    background-image: url(/assets/images/subscribe-bg.jpg);

}

.pattern {

    background-attachment: fixed;
    background-image: url(/assets/images/overlay-pattern.png) black;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;

}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*ABOUTUS*/






/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*MENU*/

#menu .setting h3 , #menu .setting ul{
    text-align: left;
}

.dish{
padding: 1.2rem 0 0;
}
.price{
    padding: 0.5rem 0 0;
}

.price + p{
    padding: 1rem 0 2rem;
}

#menu-btn{
    background-color:white ;
    border:1px solid orangered;
    color:orangered;
    padding: 25px 90px;
    margin-left: 20px;
    
}

#menu-btn a{
    text-align: right;
    text-decoration: none;
    color:orangered;
    font-weight: bold;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*NEWSLETTER*/

#newsletter .pattern .setting h2{
    color: white;
    font-size: 2rem;
}

#newsletter .pattern .setting p{
    color: white;
    font-size:1.2rem ;
}

#newsletter .pattern .setting form input{
    width: 100%;
    height: 60px;
    border: none;


}
#newsletter .pattern .setting form button{
    background-color:#69a8a1 ;
    color: white;
    border: none;
    width: 80%;
    height: 60px;
    
}




/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* FOOTER */

footer i {

    color: white;
    font-size: 18px;
    padding: 10px;

}

.icona {

    background-color: #b0b0b0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 10px; 

}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

















