/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* IMPOSTAZIONI GLOBALI */
@font-face { font-family: ufonts; src: url(../fonts/ufonts.com_tw-cen-mt.ttf);}

html {

    font-family: 'ufonts';
    text-align: center;
 
}

.orange {

    color: orangered;
    font-weight: bold;

}

h1, h2, h3 {

    padding: 2.3rem 0;

}

h1 {
    
    font-size: 1.3rem;

}

h1 span, h2 span { 

    font-size: 2rem;

}

h2 {

    font-size: 1.6rem;

}

h3 {
    font-size: 1.2rem;
    font-weight: bold;

}

h3 span {

    color: #fe5c40;

}

p {

    color: gray;
    line-height: 1.8rem;
    padding: 2rem 0;

}

hr {

    width: 50%;

}


.setting {

    margin: 0 20px;

}

section {

    padding: 50px 0;

}
.lefta {
    text-align: left;
}

.orange2{
    color: #fe5b4d;
}
a:hover{
    cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* background imgs */

.bgsett {

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

#blog {

    background-image: url(/assets/images/blog/blog-bg.jpg);

}

#newsletter {

    background-image: url(/assets/images/subscribe-bg.jpg);

}

.pattern {

    background-attachment: fixed;
    background-image: url(/assets/images/overlay-pattern.png) black;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;

}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/






/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/*ABOUTUS*/












/* CONTACT US */

#contactus h2{
    position: relative;
}
#contactus h2::before{
   width: 50%;
   height: 0.8px;
   background: #dbdbdb;
   position:absolute;
   content: '';
   bottom: 0;
   left: 25%;

}
#contactus input:focus, #contactus textarea:focus{
    border-color: aqua;
    outline: none;
}

#contactus input, #contactus textarea, #contactus-btn{
    width: 100%;
    margin-bottom: 15px;
}
#contactus input, #contactus-btn{
    height: 50px;
}
#contactus input::placeholder, #contactus textarea::placeholder{
    font-family: ufonts;
    color: #afafaf;
}
#contactus input, #contactus textarea{
    border: 1px solid #dbdbdb;
    padding: 10px 10px;
}
#contactus-btn{
    border: 0;
    background-color: #ff5004;
    color: white;
    font-weight: bold;

}

@media screen and (min-width:768px){
 
    #contactus-btn{
        width: 70%;
        margin-left: 15%;
    
    }

    
}






/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* FOOTER */

#footer-flex h4{
        color: #fd540a;
}
#latestposts h4{
    font-weight: bold;
}

#photofooter img{
    margin-right: 20px;
    margin-bottom: 20px;
}


footer address i{
    color: #636363;
}
footer h4, footer address i{
    margin-right: 30px;
    font-size: 1.2rem;
}

#followus .icona i {

    color: white;
    font-size: 18px;
    line-height: 40px;
    

}

.icona {

    background-color: #b0b0b0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    
}

#cr{
    background-color: #e9e9e9;
}
#cr>p{
    margin: 0 20px;
    color: #4a524e;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
}
footer a{
    text-decoration: none;
}

address a{
    color: gray;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 30px;
}

#cr a{
    color: #fd540a;
    font-size: 1rem;
}

@media screen and (min-width:768px){
    address div{
        display: inline-block;
        font-size: 0.9rem;
    }
    #footer-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
@media screen and (min-width:1000px){
    address div{
        display: block;
    }
    #footer-flex{
        flex-direction: row;
    }
}

@media screen and (min-width:1200px){
    #footer-flex{
        justify-content: space-evenly;
    }
}




/* SLIDER */

#showmustgoon{
    height: 50vh;
    justify-content: center;
    display: flex;
    align-items: center;
}


.card-image{
    position: relative;
    height: 40vh;
    
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.slide-content{
    margin: 0 40px;
    padding: 45px 20px;
    overflow: hidden;
}
.slide-container{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
}

.swiper-navBtn{
    color: orangered;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: orange;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: grey;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: orangered;
}

@media screen and (max-width:768px){
    .slide-content{
        margin: 0 10px;
    }
}





